@using FishMingle.Models;
@{
  Layout = "_Layout";
}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <img class="fishlovers" src="~/img/fishlovers.png">
  <a class="navbar-brand" href="/">Fish Mingle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class ="nav-link" href="/fish/@Model["sessionId"]">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fish/@Model["sessionId"]/match">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/fish/@Model["sessionId"]/logout">Logout</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>
<div class="container">
  <h1 id="browse">Browse</h1>
  <br>
  <br>
  @* <div class="row">
  <div class="col-md-6"> *@

  @foreach (var fish in @Model["fishList"])
  {

    <div class="row">
    <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="~/img/goldfish.jpg" alt="goldfish image">
      <div class="card-body">
        <h5 class="card-title"><center>@fish.GetFirstName()</center></h5>
        <p>I am a @fish.GetFishSpecies().GetSpeciesName()</p>
        <p>I prefer the following species:</p>
        @foreach (var species in @fish.GetPreferredSpecies())
        {
          <li>@species.GetSpeciesName()</li>
        }
        <h6><center>Bio</center></h6>
        <p class="card-text">@fish.GetBio()</p>
        <form action="/preferuser/@Model["sessionId"]/@fish.GetId()" method="post">
          <button class="btn btn-info" type="submit">Prefer this fish</button>
        </form>
        </div>
      </div>
      </div>
      </div>
  }
</div>
</div>
</div>

<hr>
<footer id="footer">FishMingle.com ©2018<img id="social_media" src="~/img/social_media.png"></footer>
</div>
