@using FishMingle.Models;
@{
  Layout = "_Layout";
}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<img class="fishlovers" src="~/img/fishlovers.png">
  <a class="navbar-brand">Fish Mingle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class ="nav-link" href="/fish/@Model["sessionId"]">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fish/@Model["sessionId"]/browse">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/fish/@Model["sessionId"]/logout">Logout</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>
<div class="container">
<h1>Your Matches:</h1>
<br>
<br>
  @if(Model!=null)
  {
    foreach (var fish in Model["yourMatches"])
    {
      <h3>Name: @fish.GetFirstName()</h3>
      <br>
      <h3>Species: @fish.GetFishSpecies().GetSpeciesName()</h3>
      <br>
      <h5>Bio: @fish.GetBio()</h5>
      <br>
      <br>
      <h3>Preferred species:</h3>
      @foreach (var species in @fish.GetPreferredSpecies())
      {
      <h5>@species.GetSpeciesName()</h5>
      }

    }
  }
  <br>
<hr>
<footer id="footer">FishMingle.com ©2018<img id="social_media" src="~/img/social_media.png"></footer>
</div>
